html {
	box-sizing: border-box;
	font-size: 100%;
	background-color:rgb(36, 36, 36);
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	display: block;
}

div {
	display: block;
}

h1, h2, h3{
	font-family: 'roboto', sans-serif;
}

h1 {
	color: rgb(36, 36, 36,);
	font-size: 45px;
	font-weight: lighter;
}

h2 {
	color: rgb(179, 179, 179);
	font-size: 35px;
	font-weight: lighter;
}

.h2-in {
	margin-top: 2.5em;
	margin-bottom: 1em;
}

.msd {
	margin-bottom: 3.5em;
	position: relative;
}

.h3-in {
	margin: 2.5em 0em .5em 1.60em;
}

.p1 {
	color: rgb(36, 36, 36,);
}

.p2 {
	color: rgb(179, 179, 179);
}

p {
	font-family: 'roboto', sans-serif;
	font-size: 18px;
	margin-left: 2em;
	margin-right: 2em;
}

li {
	font-family: 'roboto', sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}

.art-h1 {
	padding: 0% 10%;
}

.mast-img {
	top: 0px;
	position: absolute;
	height: 47em;
	width: 100%;
	background-image: url(../assets/8bit-background.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.mike {
	max-height: 300px;
	margin-top: 100px;
	position: relative;
}

.mike-2 {
	width: 70px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left:0;
	top: 0;
}

.s-media {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	padding: 0px 25px;
	margin: 3em 0em 0em;
	opacity: 1;
	transition: opacity 450ms ease-out;
}

.s-media:hover {
	opacity: .35;
}

ul {
	text-align: center;
	padding-left: 0em;
}

.t-center {
	text-align: center;
}

	.viewbox {
		opacity: .35;
		transition: opacity 450ms ease-out;
	}

	.viewbox:hover {
		opacity: 1;
	}

.flex {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.portrait {
	margin-top: 3em;
	margin-bottom: 1em;
}

.back {
	width: auto;
	height: auto;
	background-color: #242424;
}

.purple {
	position: relative;
	display: inline-block;
	width: 49.40%;
	height: 5px;
	background-color: #74409B;
	margin: 0em;
	padding: 0em;
}

.green {
	position: relative;
	display: inline-block;
	width: 49.40%;
	height: 5px;
	background-color: #00CE00;
	margin: 0em;
	padding: 0em;
}



