html {
	box-sizing: border-box;
	font-size: 100%;
	background-color:rgb(230, 230, 230);
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	display: block;
}

div {
	display: block;
}

h1, h2, h3{
	font-family: helvetica;
}

.h2-in {
	margin-top: 2.5em;
	margin-bottom: 1em;
}

.msd {
	margin-bottom: 2.5em;
	position: relative;
}

.h3-in {
	margin: 2.5em 0em .5em 1.60em;
}

p {
	font-family: helvetica;
	font-size: 16px;
	margin-left: 2em;
	margin-right: 2em;
}



li {
	font-family: helvetica;
	padding-left: 5px;
	padding-right: 5px;
}

.art-h1 {
	padding: 0% 10%;
}

.mike {
	max-height: 400px;
	margin-top: 100px;
	position: relative;
}

.mike-2 {
	width: 70px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left:0;
	top: 0;
}

.s-media {
	position: relative;
	display: inline;
}

ul {
	margin: 3em 29%;
	padding-left: 2em;
}

.t-center {
	text-align: center;
}

.mast-img {
	top: 0px;
	position: absolute;
	height: 47em;
	width: 100%;
	background-image: url(../assets/8bit-background.svg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.viewbox {
	position: relative;
}

.flex {
	display: block;
	width: 100%;
	height: 100%;
}

.colour-b {
	background-color: rgb(51, 51, 51);
	width: 100%;
}

.portrait {
	margin-top: 3em;
	margin-bottom: 1em;
}





