<!doctype html>
<html class="fonts-loaded">
	<head>
		<title>MsDesign - Motion graphics, Graphic design portfolio</title>
		<meta name="description" content="MsDesign: A portfolio site showcaseing motion design, and graphic design, done by Michael Slingerland"

		<meta name="viewport" content="width=device-width, minimum-scale=0.1"></meta>
		<link rel="shortcut icon" href="favicon.ico"/>
		<link rel="stylesheet" href="{{site.baseurl}}/css/portfolio.css"></link>
	</head>

	<body>



		<main>
			<div>
				<div class="mast-img"></div>
				
				<div>

					<img class="mike l-logo" src="assets/wordmark.svg" alt="My hand crafted logo.">
				</div>
			</div>

			{{content}}

		</main>


		<footer>

			<div class="">
				
				<div class="">
					<h2 class="h2-in t-center">CONTACT</h2>
				</div>

				<div class="t-center msd">
						<p class="p1">I am a relativley new designer who loves working with motion graphics in Adobe After Effects, and designing sharp 2D logos and icons.</p>

				</div>

					<div class"grid">
						<div class="unit unit-xs-1">
							<div class="portrait-wrapper">
								<img class="portrait" src="assets/portrait-big.jpg" alt="My portrait
								">
							</div>
						</div>
					</div>

				<p class="p2 t-center"></p>

			</div>

			<div>
				<ul>
					<a href="https://vimeo.com/user24159570">
						<li class="s-media"><i><img src="assets/vimeo.svg"></i></li>
					</a>

					<a href="https://www.behance.net/MSlingerland">
						<li class="s-media"><i><img src="assets/behance.svg"></i></li>
					</a>

					<a href="https://www.linkedin.com/profile/view?id=AAIAAA2Z5uQBlHYzf14Kke8KX__Hb2U-41i9FDY&trk=nav_responsive_tab_profile_pic">
						<li class="s-media"><i><img src="assets/linkedin.svg"></i></li>
					</a>
				</ul>
			</div>
		</footer>



	</body>

</html>